* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section {
  display: none;
}
.wrap {
  width: 90vw;
  height: 60vw;
  overflow: hidden;  
  margin: 2vh auto;
}
.container {
  width: 80vw;
  height: 50.5vw;
  position: relative;
  margin: 5vh auto;
}
.parent {
  position: absolute;
}
.fragment {
  position: absolute;
  transition: all .5s ease-in-out;
}
button {
  width: 10rem;
  height: 4rem;
  margin: 0 auto;
  font-size: 2rem;
  color: white;
  background: #111;
  border: none;
}